.wrapper{
    display: flex;
    width: 95vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 4vh;
    left: 2vw;
    background-color: #F5F7FA;
}

.wrapper img{
    padding: 5px;
    background-color: white;
    max-height: 90vh;
    max-width: 90vw;
}